<!-- <div *ngFor="let video of videos" class="col-xl-3 col-md-6 mb-4">
  <div class="card border-0 shadow vh-50">
  <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
  <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="..."></a>
  <div class="card-body text-center">
  <h5 class="card-title mb-0">
  <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}
  </a></h5>
  <div class="card-text text-black-50">{{video.snippet.description.slice(0, 100)}}</div>
  <p class="card-text">{{video.snippet.description}}</p>
  </div>
  </div>
  </div> -->

<div>
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand">YTAPP</a>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </nav>
</div>
<br>
<div>
  <form>
    <div class="row">
      <div class="col">
        <input
          class="form-control"
          type="search"
          name="searchValue"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchValue"
          (keyup)="filterVideos($event)"
        />
      </div>
      <!-- <div class="col-sm-4">
        <button (click) ="nextPage()" class="btn btn-outline-success form-control" type="submit">
          Next
        </button>
      </div> -->
    </div>
  </form>
</div>
<br>
<div>
  <div>
    <div class="card-columns">
      <div *ngFor="let video of videos" class="card">
        <img
          (click)="playVideo(video.snippet.resourceId.videoId)"
          [src]="video.snippet.thumbnails.medium.url"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ video.snippet.title }}</h5>
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showVideo">
  <app-ytiframe [videoId]="videoId"></app-ytiframe>
</div>
